*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(45deg,#8460ed,#ff1252) ;
	min-height: 100vh;
}

.menu{
	position: relative;
	width: 200px;
	height: 200px;
	background: #0f0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu li{
	position: absolute;
	left: 0;
	list-style: none;
	transform-origin: 100%;
	transition: 0.5s;
	transition-delay: calc(0.1s * var(--i));

}

.menu.active li{
	transform: rotate(calc(360deg/8 * var(--i)));
}

.toggle{
	position: absolute;
	width: 60px;
	height: 60px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10000;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
	font-size: 2em;
	transition: transform 1.25s;

}

.menu.active .toggle{
	transform: rotate(32deg);
}